<?xml version="1.0"?>
<launch>
      <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

      <param name="tb3_model" value="$(arg model)"/>

      <!--node pkg="joy" type="joy_node" name="joy_node">
         <param name="autorepeat_rate" type="double" value="50.0" />
      </node-->
      <!--node pkg="medicbot_controller" type="medicbot_teleop_joy" name="medicbot_teleop_joy"/-->

      <include file="$(find turtlebot3_bringup)/launch/includes/description.launch.xml">
         <arg name="model" value="$(arg model)" />
      </include>
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find medicbot_controller)/rviz/medicbot.rviz">
         <remap from="/move_base_simple/goal" to="/medicbot/move_base_simple/goal"/>
      </node>
</launch>

